In [1]:
!pip install --quiet pymongo

In [8]:
import pymongo
import pandas as pd
import json
import pprint

In [4]:
client = pymongo.MongoClient('35.167.189.162', 27016)

### Databases on MongoDB Server

In [5]:
client.database_names()

['admin', 'local', 'project4_database', 'tweets']

### Create a Reference to the `tweets` Database

In [6]:
twitter_db = client.tweets

In [7]:
twitter_db

Database(MongoClient(host=['35.167.189.162:27016'], document_class=dict, tz_aware=False, connect=True), 'tweets')

In [9]:
twitter_db.collection_names()

['my_eg_collection']

#### Create a reference to `my_gulf_collection`

In [10]:
coll_ref = twitter_db.my_gulf_collection

In [11]:
client.database_names(), twitter_db.collection_names()

(['admin', 'local', 'project4_database', 'tweets'], ['my_eg_collection'])

## Concatenate cleaned pickles and insert into MongoDB for storage

In [12]:
df_batch_1 = pd.read_pickle('../gulf_twitter_pickled/stream_الطريج.p')

In [13]:
df_batch_2 = pd.read_pickle('../gulf_twitter_pickled/stream_مغسلة.p')

In [22]:
df_batch_1.shape

(207, 3)

In [23]:
df_batch_2.shape

(215, 3)

In [16]:
gulf_df_streamed_timelines = df_batch_1.append([df_batch_2])

In [17]:
gulf_df_streamed_timelines.sample(10)

,cleaned_text,cleaned_name,cleaned_geo
2,يتعطل عندك خلاط مغسلة تروح مكتب مؤسسة صيانة يس...,esai123423,وطني الغالي
17,🤐🤐 يَــب قصدك الغسالة اهم شي تكون ماركة ونظيفة...,sa_janubia,None
287,ههههههههههههههههه مادل الطريج الثاني عدل +مالي...,hanina82,None
60,: مشروع مغسلة سيارات متنقلة الفكرة مربحةحيث أن...,al_soomah,None
389,ماشاء الله ... ياليث يعمم في الطرق السريعة مثل...,AAlawone,None
86,كرسي + مغسلة موديل اورينت مرخم ، متوفر بأكثر م...,Abtarco,None
43,: أين أجد مغسلة تقوم بغسل مراتب الاسرة,Ask_Almadina,Saudi Arabia
155,ليت اليد مغسلة قبل التصوير,juodi3,"الدمام, المملكة العربية السعودية"
336,محددين الطريج المصكر أنزين انا ساكن بالسلام وم...,al_9ager727,Kuwait
294,للحد من الزحمة ترى يقدرون ينقلون الضيوف🇰🇼🇴🇲🇶🇦🇸...,Nora_buhamad,Kuwait

In [24]:
gulf_df_streamed_timelines.shape

(422, 3)

In [21]:
# df_json = df_batch_1.to_json()

In [22]:
# data = json.loads(df_json)

# coll_ref.insert_one(data)

In [25]:
coll_ref.insert_many(gulf_df_streamed_timelines.to_dict('records'))

In [26]:
coll_ref.count()

422

In [27]:
client.database_names(), twitter_db.collection_names()

(['admin', 'local', 'project4_database', 'tweets'],
 ['my_gulf_collection', 'my_eg_collection'])